{% extends 'base.html.twig' %}

{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <h1 class='h1-index'>Trouvez le développeur pour votre projet</h1>
	
    <section class="search">

        {{ form(formSearch) }}

    </section>

    <section class="explanation">
        <h2>Comment fonctionne Oostage ?</h2>
        <ul class="explanations">
            <li>Je sélectionne le ou les développeurs qualifiés pour réaliser mon projet</li>
            <li>J'envoie ma demande en expliquant la nature de mon projet</li>
            <li>L'équipe Oostage me contacte ensuite afin de déterminer au mieux mes besoins</li>
        </ul>
    </section>

    <section class="technologie">
        <h2>Les technologies Web maîtrisées</h2>
        <ul class="technologies">
            <li><img src="/images/temp/vuejs.png" /></li>
            <li><img src="/images/temp/java.png" /></li>
            <li><img src="/images/temp/react.png" /></li>
            <li><img src="/images/temp/symfony.png" /></li>
            <li><img src="/images/temp/laravel.png" /></li>
            <li><img src="/images/temp/redux.png" /></li>
            <li><img src="/images/temp/angular.png" /></li>
        </ul>

    </section>

    <!--
    <section class="job">
        <h2>Nos métiers</h2>
        <ul class="jobs">
            <li></li>
            <li></li>
        </ul>
    </section>
    -->

{% endblock %}
