{% extends 'base.html.twig' %}

{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <h1 class='h1-index'>Trouvez le développeur pour votre projet</h1>

    <section class="search">

        {{ form(formSearch) }}

    </section>

{% endblock %}