{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <h1>Trouvez le développeur pour votre projet</h1>

    <!--
    <section class="search">
        <input type="submit" class="btn btn-secondary" value="Trouver" />
    </section>
    -->

</div>

{% endblock %}
