@import "../../node_modules/bootstrap/scss/bootstrap.scss";

* {
    font-family: OpenSans-semibold,Arial,Helvetica,sans-serif;
    margin:0;
    padding:0;
}

a, a:hover {
    text-decoration:none;
}

li {
    list-style-type: none;
}

//////////////////////////
// *** Form Elements
//////////////////////////

input[type="submit"], button {
    cursor:pointer;
}

.form-control::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size:16px;
}

//////////////////////////
// *** Common
//////////////////////////

body {
    background-color: #fff;
}

h1 {
    text-align:center;
    color:#fff;
    text-shadow: 0 2px 5px rgba(0,0,0,.6);
}

.content {
    min-height:600px;
}

.content-home {
    background: url(/images/home.jpg);
    background-size: cover;
}

header {

    .navbar {

        
        display:flex;
        flex-direction: row;
        justify-content: space-between;


        .navbar-left, .navbar-right {
            display: flex;
        }

        .navbar-right {
            a {
                color:#fff;
                border:0;
            }
        }

        .logo img {
            width:120px;
        }


        .dropdown {

            .dropdown-toggle {
                color:#fff;
            }

            .dropdown-menu {
                position: absolute;
                will-change: transform;
                top: 0px;
                left: 0px;
		padding: 0.5rem 0;
		margin: 0.125rem 0 0; 
            }
        
	.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: -100;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


	}
	
    }
}


//////////////////////////
// *** Index
//////////////////////////

section {
    padding:50px 0;
    h2 {
        width:80%;
        padding-bottom:50px;
        margin:auto;
        font-size: calc(1.66667vw + 28px);
    }
}

.h1-index {
    padding:40px 20%;
    font-size:3rem;
}

section {
    .explanations, .technologies, .jobs {
        display:flex;
        flex-direction: row;
        width: 80%;
        margin: auto;
    }
}

section.search {

    padding:120px 0;

    form {
        > div {
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;
            margin: auto;

            input[type="text"] {

            }
        }
        button {
            background-color:#ff5e00;
            color:#fff;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            &:hover {
                background-color:darkorange;
            }
        }
    }
}



section.explanation {

    //background-color:#101e73;
    background-color: #104e73;
    color:#fff;

    .explanations {
        counter-reset: li;
        li {
            font-size:18px;
            padding-right:20px;
            &:before {
                counter-increment: li;
                content: counter(li);
                background-color:#ff5e00;
                border: 7px solid #fff;
                width: 50px;
                height: 50px;
                border-radius: 20%;
                text-align: center;
                line-height: 40px;
                display: block;
                margin-bottom: 30px;
            }
        }
    }
}

section.technologie {
    background:#fff;
    .technologies {
        li {
            img {
                width:80px;
            }
        }
    }
}


section.contact {
    background:rgb(5, 212, 50);

}



section.job {
    background:#fff;
}





//////////////////////////
// *** Responsive
//////////////////////////

@include media-breakpoint-down(md) {

    section.explanation {
        display:initial;
        .explanations {
            
        }
    }
}
