@import "../../node_modules/bootstrap/scss/bootstrap.scss";

a, a:hover {
    text-decoration:none;
}

//////////////////////////
// *** Form Elements
//////////////////////////

input[type="submit"], button {
    cursor:pointer;
}

.form-control::-webkit-input-placeholder {
    color: #C0C0C0;
    font-size:16px;
}

//////////////////////////
// *** Common
//////////////////////////

body {
    background-color: #fff;
}

h1 {
    text-align:center;
    color:#fff;
    text-shadow: 0 2px 5px rgba(0,0,0,.6);
}

.content {
    min-height:600px;
}

.content-home {
    background: url(/images/home.jpg);
    background-size: cover;
}

header {

    .navbar {

        
        display:flex;
        flex-direction: row;
        justify-content: space-between;


        .navbar-left, .navbar-right {
            display: flex;
        }

        .navbar-right {
            a {
                color:#fff;
            }
        }

        .logo img {
            width:120px;
        }


        .dropdown {

            .dropdown-toggle {
                color:#fff;
            }

            .dropdown-menu {
                position: absolute;
                will-change: transform;
                top: 0px;
                left: 0px;
                transform: translate3d(0px, 48px, 0px);
            }
        }

    }
}


//////////////////////////
// *** Index
//////////////////////////

.h1-index {
    padding:40px 20%;
    font-size:3rem;
}

section.search {

    form {
        > div {
            display:flex;
            flex-direction:row;
            align-items: center;
            justify-content: center;
            margin: auto;

            input[type="text"] {

            }
        }
        button {
            background-color:#ff5e00;
            color:#fff;
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
            &:hover {
                background-color:darkorange;
            }
        }
    }
}



